<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/ui/layui.js"></script>
    <script src="/js/common/socket.js"></script>
    <script src="/js/common/TioWs.js"></script>
    <script src="/js/common/common.js"></script>
    <script src="/js/common/groupinfo.js"></script>
    <link rel="stylesheet" href="/ui/css/layui.css"/>
    <link rel="stylesheet" href="/ui/css/modules/eleTree/eleTree.css"/>
</head>
<body>
<div style="overflow: auto">
    <div id="test4" class="demo-tree"></div>
</div>
</body>
</html>