<style>
.meeting_type_down {
	display: none;
    border: 1px solid black;
    list-style: none;
    padding: 0px;
    width: 153px;
    margin-left: 19%;
    background-color: #FFFFFF;
    position: absolute;
}
.meeting_type_down li {
	text-align: center;
}
.meeting_type_down li:hover {
	background-color: rgba(0, 0, 0, 0.08);
}
</style>
<script type="text/javascript">
//下拉框交换JQuery
$(function(){
    //移到右边
    $('#addu').click(function() {
    	var meet_U = ""; var meet_U_ = "";
    	$('#select2 option').each(function(index,element){
    		meet_U += $(element).val() + ",";
    	});
    	$('#select1 option:selected').each(function(index,element){
    		meet_U_ += $(element).val() + ",";
    	});
    	if (meet_U.indexOf(meet_U_) == -1) {
	    	//获取选中的选项，删除并追加给对方
	        $('#select1 option:selected').appendTo('#select2');
    	}
    });
    //移到左边
    $('#remove').click(function() {
    	var falg;
    	$('#select2 option:selected').each(function(index,element){
    		falg = index;
    	});
    	if (falg >= 0) {
	    	$('#select2 option:selected').remove();
			//获取会议人员
			meeting_user();
//         	$('#select2 option:selected').appendTo('#select1');
    	}
    });
    //全部移到右边
    $('#add_all').click(function() {
        //获取全部的选项,删除并追加给对方
        $('#select1 option').appendTo('#select2');
    });
    //全部移到左边
    $('#remove_all').click(function() {
    	$('#select2 option').remove();
		//获取会议人员
		meeting_user();
//         $('#select2 option').appendTo('#select1');
    });
    //双击选项
    $('#select1').dblclick(function(){ //绑定双击事件
    	var meet_U = ""; var meet_U_ = "";
    	$('#select2 option').each(function(index,element){
    		meet_U += $(element).val() + ",";
    	});
    	$('#select1 option:selected').each(function(index,element){
    		meet_U_ += $(element).val() + ",";
    	});
    	if (meet_U.indexOf(meet_U_) == -1) {
	        //获取全部的选项,删除并追加给对方
	        $("option:selected",this).appendTo('#select2'); //追加给对方
    	}
    });
    //双击选项
    $('#select2').dblclick(function(){
		$("option:selected",this).remove();
		//获取会议人员
		meeting_user();
//        $("option:selected",this).appendTo('#select1');
    });
});

</script>
<div style="margin-top: 20px;margin-left: 10%;">
    <lable class="col-sm-2" style="line-height:30px;">会议名称：</lable>
    <input id="meeting_name" class="meeting_name" type="text" placeholder="会议名称" style="width: 151px;"/>
</div><br/>
<div style="margin-top: 0px;margin-left: 10%;" onmouseleave="type_down_hide()">
    <lable class="col-sm-2" style="line-height:30px;">会议类型：</lable>
    <input id="meeting_type" class="meeting_type" placeholder="会议类型" style="width: 151px;"/>
    <img src="/img/goDown.png" height="15px" style="position: relative; right: 5%; bottom: 2px; cursor: pointer;" onclick="type_down()" />
    <ul id="meeting_type_down" class="meeting_type_down">
    	<li onclick="type_val(this)">讨论</li>
    	<li onclick="type_val(this)">协调</li>
    	<li onclick="type_val(this)">专题</li>
    	<li onclick="type_val(this)">审查</li>
    	<li onclick="type_val(this)">例会</li>
    	<li onclick="type_val(this)">评审</li>
    	<li onclick="type_val(this)">交流</li>
    </ul>
</div><br/><br/>
<div style="margin-top: -20px;margin-left: 10%;">
     <lable class="col-sm-2" style="line-height:30px;">开始时间：</lable>
     <select id="hours" name="hour" style="height: 26px; width: 60px;"></select>
     <span style="margin-left: 5px; margin-right: 5px;">:</span>
     <select id="minutes" name="minute" style="height: 26px; width: 60px;"></select>
</div><br/><br/>
<div style="margin-top: -20px;margin-left: 10%;">
    <lable class="col-sm-2" style="line-height:30px;">会议时长：</lable>
    <select id="meeting_time" class="meeting_time" placeholder="会议时长" style="height: 26px; width: 153px;"></select>分钟
</div><br/><br/>
<div style="margin-top: -20px;margin-left: 10%;">
    <lable class="col-sm-2" style="line-height:30px;">会议地点：</lable>
    <select id="meeting_address" class="meeting_address" onchange="childAddress()" style="height: 26px; width: 153px;"></select>
    <select id="child_address" class="child_address" style="height: 26px; width: 165px;"></select>
</div><br/><br/>
<div style="margin-top: -20px;margin-left: 10%;">
    <lable class="col-sm-2" style="line-height:30px;">&nbsp;主持人：</lable>
    <input id="meeting_u" class="meeting_u" type="text" placeholder="主持人" style="width: 151px;"/>
</div><br/><br/>
<div style="margin-top: -20px;margin-left: 10%;">
	<lable class="col-sm-2" style="line-height:30px;">会&nbsp;&nbsp;务：</lable>
	<input id="meeting_club" class="meeting_club" type="text" placeholder="会务" style="width: 151px;"/>
</div><br/><br/>
<div style="margin-top: -20px;margin-left: 10%;">
	<lable class="col-sm-2" style="line-height:30px;">会议成员：</lable>
	<select id="muser_org" onchange="meeting_user()" style="height: 26px; width: 153px;"></select>
	<div style="position: relative; top: 10px;">
		<div style="position: absolute; left: 15%;">
			<select multiple="multiple" id="select1" style="width:150px;height:200px; float:left; padding:4px; "></select>
		</div>
		<div style="float:left; margin-left: 26%; margin-top: 15px;"> 
			<span id="addu" >
				<input type="button" class="btn" value="添加" style="margin-top: 10px;"/>
			</span><br/>
			<span id="add_all" >
				<input type="button" class="btn" value="全选" style="margin-top: 10px;"/>
			</span> <br/>
			<span id="remove" >
				<input type="button" class="btn" value="移除" style="margin-top: 10px;"/>
			</span><br/>
			<span id="remove_all" >
				<input type="button" class="btn" value="全删" style="margin-top: 10px;"/>
			</span> 
		</div>
		<div>
		<select multiple="multiple" id="select2" style="width: 150px;height:200px; float:lfet; padding:4px;"></select>
		</div>
	</div>
</div><br/><br/><br/>
<div style="margin-top: -40px;margin-left: 10%;">
	<lable class="col-sm-2" style="line-height:30px;">状&nbsp;&nbsp;态：</lable>
	<input id="dk" name="ra" type="radio" value="1" checked="checked" style="margin-top: 10px;" />待开
	<input id="qx" name="ra" type="radio" value="2" style="margin-top: 10px;" />取消
	<input id="js" name="ra" type="radio" value="3" style="margin-top: 10px;" />结束
</div>
<script th:src="@{/js/calendar/schedule.js}"></script>
<link rel="stylesheet" src="/js/2018/kindeditor/themes/default/default.css" />
<link rel="stylesheet" src="/js/2018/kindeditor/plugins/code/prettify.css" />
<script type="text/javascript" src="/js/2018/kindeditor/kindeditor.js"></script>
<script type="text/javascript" src="/js/2018/kindeditor/kindeditor-min.js"></script>
<script type="text/javascript" src="/js/2018/kindeditor/lang/zh_CN.js"></script>
<script type="text/javascript" src="/js/2018/kindeditor/plugins/code/prettify.js"></script>
<script type="text/javascript" src="/js/2018/kindeditor/setkindeditor.js"></script>
<script>
    var kindEditor = null;
    var uploadUrl = "/upload/commonuploadfile";
    // 设置编辑器
    setKindEditor($('textarea[name="eventagenda"]'));
    if ($('textarea[name="eventagenda"]').val()) {
        if (!kindEditor.html()) {
            kindEditor.html($('textarea[name="eventagenda"]').val());
        }
    }
</script>


